/target
tasks.json
.env
certs*
*.png
config*.yaml
example.ron
example*.json
project*.json
task*.json
printer*.json
*.log
*.svg
auth.db
auth.key
errors.json
*.jpeg
*.jpg
*.webp
src/ui2
src/ui3
src/ui4
*.xcf
icon2.ico
errors.json
assets/gui/*

!icon.png
!assets/icons8-disconnected-100.png
!assets/icons8-red-square-96.png
!assets/icons8-green-circle-96.png
!assets/icons8-pause-squared-100.png
!assets/icons8-hourglass-100.png
!assets/icons8-red-square-96.png
!assets/icons8-pause-squared-100.png
!assets/icons8-warning-96.png
!assets/icons8-play-96.png
!assets/icons/*.svg
!assets/monitor_fan_off.svg
!assets/monitor_fan_on.svg
!assets/monitor_bed_temp.svg
!assets/monitor_bed_temp_active.svg
!assets/monitor_nozzle_temp.svg
!assets/monitor_nozzle_temp_active.svg
!assets/param_chamber_temp.svg
!assets/printer_*.svg